﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4 id="javascript-heading">Javascript set this colour</h4>
<h4 id="css-heading">CSS set this colour</h4>

<p>Use this area to provide additional information.</p>

<script src="~/dist/about.bundle.js" asp-append-version="true"></script>
